---
export const prerender = true;
import { AmbassadorPage } from "../components/hackspain";
import AmbassadorNavbar from "../components/hackspain/AmbassadorNavbar.astro";
import Layout from "../layouts/Layout.astro";
import { AMBASSADOR_KEYWORDS, ambassadorSeo } from "../data/landingMeta";

const seo = ambassadorSeo();
---

<Layout
  sectionIndex={0}
  allowScroll
  title={seo.title}
  description={seo.description}
  ogImageAlt={seo.ogImageAlt}
  canonicalPathOverride="/ambassador"
  keywordsOverride={AMBASSADOR_KEYWORDS}
>
  <main id="main" class="relative min-h-dvh w-full">
    <div class="relative z-10 mx-auto max-w-5xl px-3 pt-6 sm:px-4 sm:pt-10">
      <AmbassadorNavbar />
    </div>
    <AmbassadorPage client:load />
  </main>
</Layout>
