---
export const prerender = true;
import { LandingPage } from "../components/hackspain";
import Layout from "../layouts/Layout.astro";
---

<Layout locale="en" sectionIndex={0} pathMode="root">
	<main id="main" class="contents">
		<LandingPage client:load locale="en" initialSection={0} urlMode="root" />
	</main>
</Layout>
