---
export const prerender = true;

import { PrivacyPage } from "../components/hackspain";
import SignupNavbar from "../components/hackspain/signup-navbar.astro";
import { PRIVACY_KEYWORDS, privacySeo } from "../data/landing-meta";
import Layout from "../layouts/layout.astro";

const seo = privacySeo();
---

<Layout
  sectionIndex={0}
  allowScroll
  title={seo.title}
  description={seo.description}
  ogImageAlt={seo.ogImageAlt}
  canonicalPathOverride="/privacy"
  keywordsOverride={PRIVACY_KEYWORDS}
>
  <main id="main" class="relative min-h-dvh w-full">
    <div class="relative z-10 mx-auto max-w-5xl px-3 pt-6 sm:px-4 sm:pt-10">
      <SignupNavbar />
    </div>
    <PrivacyPage client:load />
  </main>
</Layout>
