---
export const prerender = true;
import { SignupPage } from "../components/hackspain";
import SignupNavbar from "../components/hackspain/SignupNavbar.astro";
import Layout from "../layouts/Layout.astro";
import { SIGNUP_KEYWORDS, signupSeo } from "../data/landingMeta";

const seo = signupSeo();
---

<Layout
  sectionIndex={0}
  allowScroll
  title={seo.title}
  description={seo.description}
  ogImageAlt={seo.ogImageAlt}
  canonicalPathOverride="/signup"
  keywordsOverride={SIGNUP_KEYWORDS}
>
  <main id="main" class="relative min-h-dvh w-full">
    <div class="relative z-10 mx-auto max-w-5xl px-3 pt-6 sm:px-4 sm:pt-10">
      <SignupNavbar />
    </div>
    <SignupPage client:load />
  </main>
</Layout>
