---
export const prerender = false;

import { LandingPage } from "../components/hackspain";
import { SECTION_SLUGS } from "../data/sectionRoutes";
import Layout from "../layouts/Layout.astro";

const sectionIndex = SECTION_SLUGS.indexOf("sponsors") + 1;
---

<Layout sectionIndex={sectionIndex}>
  <main id="main" class="contents">
    <LandingPage client:load initialSection={sectionIndex} />
  </main>
</Layout>
