---
export const prerender = true;
import { LandingPage } from "../components/hackspain";
import Layout from "../layouts/Layout.astro";
import { SECTION_SLUGS } from "../data/sectionRoutes";

const sectionIndex = SECTION_SLUGS.indexOf("sponsors") + 1;
---

<Layout locale="en" sectionIndex={sectionIndex} pathMode="root">
	<main id="main" class="contents">
		<LandingPage client:load locale="en" initialSection={sectionIndex} urlMode="root" />
	</main>
</Layout>
