---
export const prerender = false;

import { LandingPage } from "../components/hackspain";
import { SECTION_SLUGS } from "../data/section-routes";
import Layout from "../layouts/layout.astro";

const sectionIndex = SECTION_SLUGS.indexOf("vision") + 1;
---

<Layout sectionIndex={sectionIndex}>
  <main id="main" class="contents">
    <LandingPage client:load initialSection={sectionIndex} />
  </main>
</Layout>
